<h1>Parties</h1>
<% @parties.each do |party| %>
  <a href="/parties/<%= party.id %>"><li><%= party.name %></li></a>
<% end %>
<br/>
<br/>
<h3>Sound good? <a href='/parties/new'>Create your own!</a></h3>
