<h1>Friends</h1>

<h3><%= @message %></h3>
<% @friends.each do |friend| %>
  <li>
    <%= friend.first_name %> <%= friend.last_name %>
  </li>
<% end %>

<br/>
<br/>
<h3><a href='/friends/new'>Make a new friend!</a></h3>
